.image-canvas-container {
  position: relative;
  display: inline-block;
}

.image-close-button {
  position: absolute;
  top: -8px;
  right: 30px;
  width: 24px;
  height: 24px;
  background-color: #282727;
  color: white;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease, background-color 0.2s ease;
  z-index: 10;
  font-family: 'Silkscreen', sans-serif;
}

.image-close-button:hover {
  background-color: #640303;
  transform: scale(1.1);
}

.segment-button {
  margin-top: 10px;
  /* margin-left: 80px; */
  padding: 5px 129px;
  font-size: 15px;
  background-color: #ebcdf6;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.948);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  text-align: center;
  font-family: 'Montserrat', sans-serif;  
  font-weight: 500;
}

.segment-button:hover {
  background-color: #d1acdf;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  /* transform: scale(1.1); */
  transition: transform 0.2s ease-in-out;
}

.toggle-grid-button, .toggle-frame-button {
  margin-top: 10px;
  margin-left: 30px;
  padding: 5px 10px;
  font-size: 15px;
  background-color: #ebcdf6;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.948);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  text-align: center;
  font-family: 'Montserrat', sans-serif;  
  font-weight: 500;
}

.toggle-grid-button:hover, .toggle-frame-button:hover {
  background-color: #d1acdf;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s ease-in-out;
}

.generate-numbers-button {
  margin-top: 10px;
  margin-left: 30px;
  padding: 5px 10px;
  font-size: 15px;
  background-color: #ebcdf6;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.948);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  text-align: center;
  font-family: 'Montserrat', sans-serif;  
  font-weight: 500;
}

.generate-numbers-button:hover {
  background-color: #d1acdf;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s ease-in-out;
}

@media (max-width: 768px) {
    .image-canvas-container {
      padding: 0.5rem;
    }
  
    .segment-button {
      width: 100%; /* Full width button on smaller screens */
    }
  
    .image-close-button {
      top: 5px;
      right: 5px;
      width: 20px;
      height: 20px;
    }
  }
  
  @media (max-width: 480px) {
    .image-canvas-container {
      padding: 0.3rem;
      width: 50%;
    }
  
    .segment-button {
      font-size: 12px;
      padding: 8px 16px;
    }

    .toggle-grid-button, .toggle-frame-button {
      font-size: 12px;
      padding: 8px 16px;
    }

    .generate-numbers-butto {
      font-size: 12px;
      padding: 8px 16px;
    }
  
    .image-close-button {
      top: 5px;
      right: 5px;
      width: 18px;
      height: 18px;
    }
  }