.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Adjust alignment for items */
  padding: 1rem 2rem;
  text-align: center;
  background-color: #0f0f0f;
  color: white;
  position: relative;
  font-family: 'Montserrat', sans-serif;  
  font-weight: 400;
}

.navbar-links {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 4rem;
  margin: 0 auto;
  margin-top: 2rem;
}

.navbar-item a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  margin-left: 8rem;
}

.navbar-item a:hover {
  color: #ebcdf6;
}

.navbar-language {
  position: relative;
}

.language-toggle {
  background-color: #b5e0d3;
  color: #333;
  border: none;
  max-width: 100%;
  padding: 0.5rem 1.3rem;
  font-size: 0.9rem;
  cursor: pointer;
  border-radius: 7px;
  margin-top: 2rem;
  margin-right: 3rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.language-toggle:hover {
  background-color: #dddddd;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 5px;
  list-style: none;
  padding: 0.5rem 8;
  margin: 0;
  margin-right: 3.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  font-size: 0.8rem;
}

.dropdown-menu li {
  padding: 0.5rem 1rem;
  cursor: pointer;
  /* margin-right: 1.85rem; */
}

.dropdown-menu li:hover {
  background-color: #f0f0f0;
}

@media (max-width: 768px) {
  .navbar {
    padding: 0.2rem;
    flex-wrap: wrap;
  }

  .navbar-links {
    gap: 3rem;
    margin: 0 auto;
  }

  .navbar-item a {
    font-size: 1rem;
    margin-left: 2rem;
  }

  .language-toggle {
    font-size: 0.9rem;
    padding: 0.4rem 1.2rem;
  }
}

@media (max-width: 480px) {
  .navbar {
    padding: 0.5rem;
    flex-wrap: wrap;
  }

  .navbar-links {
    gap: 1.5rem;
    margin: 0 auto;
  }

  .navbar-item a {
    font-size: 0.9rem;
    margin-left: 0;
  }

  .language-toggle {
    font-size: 0.8rem;
    padding: 0.3rem 1rem;
  }
}